@font-face{
    font-family:'ChanticleerRomanNF-B';
    src:url('../font/ChanticleerRomanNF-Bold.ttf');
}
@font-face{
    font-family:'ChanticleerRomanNF';
    src:url('../font/ChanticleerRomanNF.ttf');
}
@font-face{
    font-family:'Magnificent';
    src:url('../font/Magnificent.ttf');
}
@font-face {
    font-family:'Ubuntu-R';
    src:url('../font/Ubuntu-R.ttf');
}
@font-face {
    font-family:'Ubuntu-L';
    src:url('../font/Ubuntu-L.ttf');
}
@font-face {
    font-family:'UbuntuIt-R';
    src:url('../font/UbuntuMono-R.ttf');
}
body{
    font-family:'Ubuntu-R';
}
.main-header{
    font-family:'Ubuntu-R';
    font-size:6rem;
    text-align:center;
}
.h1-header{
    font-size:5rem;
}
.h2-header{
    font-family:'Ubuntu-R';
    font-size:4rem;
}
.h3-header{
    font-family:'Ubuntu-R';
    font-size:3rem;
}
.h4-header{
    font-family:'Ubuntu-R';
    font-size:2rem;
}
.p-content{
    font-family:'Ubuntu-R';
    font-size:1.5rem;
}
@media screen and (max-width:480px) {
    .main-header{
        font-family:'Ubuntu-R';
        font-size:3rem;
        text-align:center;
    }
    .h1-header{
        font-size:2.5rem;
    }
    .h2-header{
        font-family:'Ubuntu-R';
        font-size:1.6rem;
    }
    .h3-header{
        font-family:'Ubuntu-R';
        font-size:1.4rem;
    }
    .h4-header{
        font-family:'Ubuntu-R';
        font-size:1.2rem;
    }
    .p-content{
        font-family:'Ubuntu-R';
        font-size:1rem;
    }
}