@import "../mixin/super.scss";
td{
    text-align: center !important;
}
body{
  font-family: sans-serif;
}
img{
    border: none !important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4) !important;
}
a{
  &.small{
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5{
    text-transform: none !important;
}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
p{
  &.small{
    font-size: 25px;
  }
  &.small-margin{
    margin:10px 0;
  }
  &.comment{
      color: $gray;
      font-size: 20px;
      font-weight: 700;
      margin-top: 0px;
  }
}
ul{
  &.small{
    > li{
      font-size: 32px;
    }
  }
}
.pre-header{
  @include top-left;
}
